extends ../layout

block content
    div(class="About_Me" id="aboutMe")
        div(class="section-title-container")
            hr
            h2 About Me
            hr

        div(class="sections-container")
            - for (let i = 0; i < data.length; i++)
                - if(data[i].dataValues.blogType === "aboutMe")
                        div(class="section")
                            - if(data[i].dataValues.imgUrl !== null)
                                div(class="section-image" style=`background-image:url(${data[i].dataValues.imgUrl});`)
                                //- img(src=`${data[i].dataValues.imgUrl}` class="section-image")
                            div(class="section-content")
                                h4(class="header_link") 
                                    a(href=`${data[i].dataValues.headerLink}`) #{data[i].dataValues.title}
                                h6(class="subtitle") #{data[i].dataValues.subtitle}
                                p(class='description-noImg') #{data[i].dataValues.content}