extends layout

block content
    div(class="MyThoughts" id="myThoughts")
        div(class="title")
            hr(class="main_hr")
            h2(class="big-title") My Thoughts
            hr(class="main_hr")

        div(class="content_blocks")
            - for (let i = 0; i < data.length; i++)
                - if(data[i].dataValues.blogType === "myThoughts")
                    div(class="Content_Block")
                        div(class="info_section")
                            h4(class="header_link") 
                                a(href=`${data[i].dataValues.headerLink}`) #{data[i].dataValues.title}
                            p(class='description-noImg') #{data[i].dataValues.content}
                        - if(data[i].dataValues.imgUrl !== null)
                            img(src=`${data[i].dataValues.imgUrl}` alt=`${data[i].dataValues.altText}` class="content_block_image")
                        